<div class="jumbotron text-center" >
  <h1>Movie Info 4 U</h1>
  <p>A web scraper for the Modern Age</p>
 <%= link_to "Try it Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
 </div>


